@font-face {
    /*src: url("./fonts/Inter-SemiBold.ttf");*/
    src: url("./fonts/Inter-ExtraBold.ttf");
}

.root{
    -fx-background-color: "#1E1E1E";
    -fx-font-family: "Inter ExtraBold";
}

#titleMain {

    -fx-font-size: 23pt;
    -fx-text-fill: white;
}

#subtitleMain {
    -fx-font-size: 15pt;
    -fx-text-fill: yellow;
}

#nextBtn {
    -fx-font-size: 14pt;
    -fx-cursor: hand;
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-radius: 50px;
}

#nextBtn:hover {
    -fx-font-size: 14pt;
    -fx-cursor: hand;
    -fx-border-color: yellow;
    -fx-background-color: yellow;
    -fx-text-fill: "#1E1E1E";
    -fx-border-radius: 50px;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}